# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyrogram==2.0.106



# --- For-Database ------------ #
pymongo
dnspython



# --- For-Web-Response ------- #
aiohttp


# --- For-env-variables ------- #
python-dotenv

requests
